.loader {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2s 2s ease-out both;
}
.loader .loader__container {
  display: flex;
  flex-direction: row;
}
.loader .loader__circle {
  background-color: #9356dc;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin: 10px;
  animation: bounce 1s ease-in-out infinite, fadeout 2s 1s ease-out both;
}
.loader .loader__circle:nth-child(1) {
  animation-delay: 0s, 1s;
}
.loader .loader__circle:nth-child(2) {
  animation-delay: 0.2s, 1s;
}
.loader .loader__circle:nth-child(3) {
  animation-delay: 0.4s, 1s;
}
.loader .loader__circle:nth-child(4) {
  animation-delay: 0.6s, 1s;
}

@keyframes loader {
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(15px);
    background-color: #ff79da;
  }
  70% {
    transform: translateY(-10px);
    background-color: #ff79da;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader {
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(15px);
    background-color: #ff79da;
  }
  70% {
    transform: translateY(-10px);
    background-color: #ff79da;
  }
  100% {
    transform: translateY(0);
  }
}
.logo_box {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.logo_box .logo {
  width: 197px;
  height: 36px;
  object-fit: contain;
}

.button__command {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  font-family: Roboto;
  font-size: 16px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  cursor: pointer;
  transition-duration: 1000ms;
}
.button__command:hover {
  opacity: 0.8;
}

.whole__button {
  display: flex;
  align-items: center;
}
.whole__button .number {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 12px;
}
.whole__button p {
  color: white;
}
.whole__button .fa-mobile-screen-button {
  width: 13.02px;
  height: 19.9px;
  color: #7E7E7E;
}
.whole__button .fa-list-ul {
  width: 13.02px;
  height: 19.9px;
  color: #7E7E7E;
}
.whole__button .fa-store {
  width: 13.02px;
  height: 19.9px;
  color: #7E7E7E;
}
.whole__button .fa-mobile-screen-button:hover, .whole__button .fa-list-ul:hover, .whole__button .fa-store:hover {
  color: #9356DC;
}
.whole__button .button__choice {
  width: 90%;
  height: 72.38px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cards {
  width: 95%;
  height: 251px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.cards h2 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
}
.cards p {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
  text-align: left;
  margin-bottom: 5px;
}
.cards img {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.cards .card__content {
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  height: 77px;
}
.cards h2 {
  margin-bottom: 10px;
}
.cards p {
  margin-top: -5px;
}
.cards .new {
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  position: absolute;
  left: 240px;
  top: 20px;
  bottom: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .new p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
  color: #008766;
  padding-bottom: 10px;
  padding-top: 20px;
}

.fa-heart {
  font-size: 1.4rem;
}
.fa-heart:hover {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

.logo__white {
  width: 139px;
  height: 27px;
  padding-left: 40px;
  margin-top: 20px;
}

header img {
  width: 100%;
  height: 275px;
}
header .fa-arrow-left {
  font-size: 1.5rem;
  width: 17.2px;
  height: 16px;
  color: #353535;
  position: relative;
  top: 40px;
  left: 25px;
}

.menu_header h2 {
  font-family: Shrikhand;
  font-size: 1.7rem;
  font-style: italic;
  font-weight: bold;
  line-height: 40.82px;
  padding-left: 20px;
  margin-bottom: 0;
}

.dish {
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dish h3 {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
  line-height: 18.75px;
  border-bottom: 3px solid #99E2D0;
  width: 5.2%;
  padding-left: 0;
  position: relative;
  right: 10rem;
}
.dish h5 {
  width: 30px;
  font-family: Roboto;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
  transition: margin-left 0.3s ease;
}
.dish .button__command {
  padding-top: 30px;
}

@media (min-width: 1440px) {
  .choose {
    gap: 20px;
  }
  .choose .whole__button {
    width: 500px;
  }
  .choose .whole__button .fa-store, .choose .whole__button .fa-list-ul, .choose .whole__button .fa-mobile-screen-button {
    margin-left: 20px;
  }
  .choose .whole__button .button__choice {
    width: 100%;
  }
  .fa-heart:focus, .fa-heart.clicked {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: bold;
  }
}
body {
  padding: 0;
  margin: 0;
}
body p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: #353535;
}
body h3 {
  font-family: Roboto;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 28.13px;
  margin-bottom: 0;
  padding: 0px 20px 0px 20px;
  color: black;
}

.location {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2509803922);
  gap: 15px;
}
.location .fa-location-dot {
  width: 12px;
  height: 16px;
  color: #353535;
}

.explore {
  height: 350px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.explore p {
  padding-left: 90px;
  text-indent: -10%;
}
.explore h3 {
  padding-left: 90px;
  text-indent: -13%;
}

.choose {
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}
.choose h3 {
  padding-left: 10px;
}

.vector__box {
  margin-left: auto;
  position: relative;
  bottom: 37px;
  right: 10px;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-bottom: 60px;
  gap: 20px;
}
.restaurants a {
  text-decoration: none;
  color: #101010;
}

footer {
  background-color: #101010;
}
footer p {
  font-family: Roboto;
  font-size: 16px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
footer ul {
  list-style-type: none;
}
footer .fa-handshake-angle, footer .fa-utensils {
  color: white;
  margin-top: 0;
}

nav, li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu_header {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  position: relative;
  bottom: 20px;
}
.menu_header .vector__box {
  position: relative;
  bottom: 0px;
  top: 10px;
  left: 1px;
  transition-duration: 0.5s;
}
.menu_header .fa-heart {
  position: relative;
  right: 4rem;
}

.menu {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.menu h4 {
  width: 300px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
}
.menu p {
  width: 300px;
  font-family: Roboto;
  font-size: 15.04px;
  font-weight: 300;
  line-height: 17.63px;
}

.dish h3 {
  font-size: 1rem;
  position: relative;
  right: 155px;
}

.dish__cards {
  padding: 1rem;
  margin: 1rem 0.5rem;
  width: 88%;
  gap: 0;
  border-radius: 15.04px;
  background-color: #FFFFFF;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.dish__cards .cards__price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0.5rem;
  width: 100%;
  margin-top: -20px;
}
.dish__cards .check__box {
  width: 17%;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 15.04px 15.04px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.dish__cards .check__box i {
  color: white;
  display: block;
}
.dish__cards h5 {
  transition: transform 0.5s ease;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.dish__cards p, .dish__cards h4 {
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: width 0.5s ease;
  margin: 0;
  width: 100%;
}
.dish__cards:hover .check__box {
  transform: translateX(0);
  opacity: 1;
}
.dish__cards:hover h5 {
  transform: translateX(-20%);
}
.dish__cards:hover p, .dish__cards:hover h4 {
  width: 70%;
}

@media (min-width: 768px) {
  .cards .new {
    left: 600px;
  }
  header img {
    object-fit: cover;
  }
  .dish h3 {
    position: relative;
    right: 330px;
    width: 2%;
  }
  .dish__cards .check__box {
    width: 10%;
  }
  .dish__cards h5 {
    padding-right: 5px;
  }
  .dish__cards:hover h5 {
    transform: translateX(-10%);
  }
}
@media (min-width: 1024px) {
  .cards .new {
    left: 830px;
  }
  .dish h3 {
    position: relative;
    right: 435px;
  }
  .dish__cards .check__box {
    width: 8%;
  }
  .dish__cards:hover h5 {
    transform: translateX(-8%);
  }
}
@media (min-width: 1440px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .explore h3 {
    font-size: 2.5rem;
    text-indent: 0;
    padding: 0;
  }
  .explore p {
    font-size: 1rem;
    margin: 0;
    text-indent: 0;
  }
  .explore .button__command {
    width: 250px;
  }
  .choose {
    width: 100%;
    height: 228px;
    position: relative;
    right: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .choose h3 {
    position: relative;
    left: 260px;
    height: 50px;
  }
  .whole__button {
    padding-top: 25px;
  }
  .restaurants {
    padding: 100px 80px 0px 80px;
    gap: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 700px;
  }
  .restaurants h3 {
    position: absolute;
    left: 160px;
    top: 700px;
    height: 50px;
  }
  .restaurants a {
    width: 490px;
    height: 251px;
    border-radius: 15px 0px 0px 0px;
  }
  .restaurants a .cards {
    width: 550px;
    height: 251px;
    border-radius: 15px 0px 0px 0px;
  }
  .restaurants a img {
    width: 550px;
    height: 231px;
  }
  .restaurants a .fa-heart {
    font-size: 1.7rem;
  }
  .cards .new {
    left: 430px;
  }
  footer {
    width: 100%;
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #353535;
  }
  footer nav {
    padding-top: 50px;
    padding-right: 50px;
  }
  footer ul {
    display: flex;
    gap: 20px;
  }
  footer .logo__white {
    padding-top: 50px;
  }
  header img {
    width: 100%;
    height: 383px;
    object-fit: cover;
  }
  header .logo_box img {
    object-fit: contain;
  }
  .menu_header h2 {
    padding-left: 350px;
  }
  .menu_header .fa-heart {
    position: relative;
    right: 350px;
    font-size: 1.6rem;
  }
  .menu_header .vector__box {
    right: 350px;
  }
  .menu {
    width: 1055px;
    height: auto;
    margin-left: 200px;
  }
  .menu .dish h3 {
    position: relative;
    right: 300px;
    width: 1%;
  }
  .menu .dish__cards {
    width: 634px;
    height: auto;
    border-radius: 15.04px;
    gap: 5px;
  }
  .menu .dish__cards .cards__price {
    margin-top: -30px;
  }
  .menu .dish__cards .check__box {
    width: 12%;
    left: 88%;
  }
  .menu .dish__cards h4, .menu .dish__cards p, .menu .dish__cards h5 {
    font-size: 1.4rem;
    height: 25px;
  }
  .menu .dish__cards h4, .menu .dish__cards p {
    width: 80%;
  }
  .menu .dish__cards:hover h5 {
    transform: translateX(-12%);
  }
  .button__command {
    width: 210px;
    height: 54px;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: 500;
  }
}

/*# sourceMappingURL=style.css.map */
